<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    
    <link
      href="https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@400;600;800&display=swap"
      rel="stylesheet"/>
    
      <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"/>



    <link rel="stylesheet" href="meal.css">
    <title>Document</title>
</head>
<body>
    <header>
  
        <section id= container_header_f>
            
            <div>Find Us!! <i class="material-icons">my_location</i></div>
            <div id = "loginontainer">Main <button></button>  <a href="/" class="anchor_1">  <i class="material-icons">home</i> </a> </button> </div>
            

        </section>


        <section id= container_header>
            <div ><h2 class="title_2">The Meal Factory  </h2></div>
            <div >Our Company</div>
            <div >Careers</div>
            <div >Nutrition</div>
            <div>Shop</div>

            
        </section>
    </header>
    <br>
    <br>

   
     <section id="container_m_2ab">
         
         
     </section>

    
    <section id="container_m_2a" >
        

        <div class = "form-container">
            <div><p></p></div>
            <div id="customer" class = "register_form">

                <form " action="/addUser"  method="post" >
                    <label id="title_register">Register a new user.</label><br> <br>

                    <label for="name" class="login">Name</label> <br> <br>
                    <input id="name" type="text"  name="name" value=""  placeholder="Enter Name" size="30" required> <br> <br>

                    <label for="username" class="login">Username</label> <br> <br>
                    <input id="username" type="text"  name="username"  value="" class="large"  placeholder="Enter Last Name" size="30" required> <br> <br>
                   
                    <label for="email" class = "login">Email</label> <br> <br>
                    <input id= "email" type="email"  name = "email" value=""  class="large"  placeholder="Enter email" size="30" required> <br> <br>
                    
                    <label for="password" class= "login">Password</label> <br> <br>
                    <input id="password" type="password" name="password" value="" size = "16"  placeholder="Enter Password"  pattern=".{8,16}" title="8 or more Character/ Password must have letters an numbers" size=30 pattern="[!@#$%^&*][a-z][A-Z][0-9]" required > <br> <br>

                    <label for="">Please select type of user </label> <br> <br>  
                    <select name="usertype" class="usertype"> <br><br>
                    <option  value="customer">Customer</option>
                    <option value="clerk">Clerk</option>  <br><br><br>
                    </select> <br><br><br>

                    <input  type="submit" value="Submit File"  class="btn action_button"> 
    
                </form>
    
            </div>
           
        </div>


        
    </section>

    





  


    <br>
    <br>

    <footer>

        
        <section id= container_footer>
          <div ><h2 class="title_2f">The Meal Factory</h2></div>
          <div >Follow Us On: </div>
          <div >Instagram <i class="material-icons"> photo_camera </i> </div>
          <div>Youtube  <i class="material-icons"> shop </i></div>
          <div>Twitter <i class="material-icons"> emoji_nature </i> </div>

      </section>

      </footer>
  <section id="container_h_im">





    
</body>
</html>