
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    
    <link
      href="https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@400;600;800&display=swap"
      rel="stylesheet"/>
    
      <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"/>



    <link rel="stylesheet" href="meal.css">
    <title>Document</title>
</head>
<body>
    <header>
  
        <section id= container_header_f>
            
            <div>Find Us!! <i class="material-icons">my_location</i></div>
            <div id = "loginontainer">Main <button></button>  <a href="/" class="anchor_1">  <i class="material-icons">home</i> </a> </button> </div>
            

        </section>


        <section id= container_header>
            <div ><h2 class="title_2">The Meal Factory  </h2></div>
            <div >Our Company</div>
            <div >Careers</div>
            <div >Nutrition</div>
            <div>Shop</div>

            
        </section>
    </header>
        <br>
            <title>Dashboard</title>
            
                <h3>Hello {{name}}</h3>
                <p>Welcome to your dashboard</p> <br> <br>
                <p>Username: {{username}}</p> <br>
                <p>Email: {{email}}</p> <br>


        <br>
        <br>

    <footer>
        
        <section id= container_footer>
          <div ><h2 class="title_2f">The Meal Factory</h2></div>
          <div >Follow Us On: </div>
          <div >Instagram <i class="material-icons"> photo_camera </i> </div>
          <div>Youtube  <i class="material-icons"> shop </i></div>
          <div>Twitter <i class="material-icons"> emoji_nature </i> </div>

      </section>

      </footer>
  <section id="container_h_im">

</body>
</html>
